* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.wraper {
    width: 99%;
    height: 90%;
    background-color: #fff;
    border-radius: 10px;
    overflow-y: auto;
}

.card {
    width: 99%;
    height: max-content;
    background-color: #fff;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: start;
    align-items: start;
    gap: 8px;
}

.folder {
    /* width: 60px; */
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
    cursor: pointer;
    position: relative;

    &:hover {
        background-color: rgb(219, 219, 219);
    }
}

.folder-icon-container {
    margin-top: 5px;
    width: 80%;
    height: 85%;

    .main-icon {
        height: 100%;
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        /* border: 1px solid gray; */
        clip-path: polygon(33% 0, 42% 16%, 100% 16%, 100% 99%, 0 100%, 0 0);
    }
}

.pick_button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    padding: 4px 15px;
    border-radius: 3px;
    margin: 10px auto;
    cursor: pointer;
    position: relative;
    background-color: black;
    border-radius: 10px;
    font-family: "JetBrains Mono", monospace;
    color: #fff;
    gap: 5px;

    &::before {
        position: absolute;
        content: "";
        left: 50%;
        top: 50%;
        /* background: #ff0000; */
        background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(208, 0, 255, 1) 50%, rgba(69, 87, 252, 1) 100%);
        height: 100%;
        background-size: 500px;
        background-position: 0;
        width: 100%;
        padding: 2px;
        border-radius: 10px;
        transform: translate(-50%, -50%);
        z-index: -1;
        transition: all .5s ease-in-out;
        animation: glowborder 6s linear infinite;
    }
}

@keyframes glowborder {
    0% {
        background-position: 0px;
    }

    50% {
        background-position: 500px;
    }

    100% {
        background-position: 0px;
    }
}

.popup {
    width: 80%;
    height: max-content;
    background-color: rgb(255, 255, 255);
    position: fixed;
    left: 50%;
    top: 50%;
    padding: 20px;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    z-index: 6;
    transition: .3s ease-in-out;
}

.drop_shadow {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: #4646469f;
    z-index: 5;
}
.cp_btn_container{
    display: flex;
    justify-content: end;
    padding: 20px 0 0 0;

}
.dt_btn_container{
    display: flex;
    justify-content: end;
    padding: 10px 0 0 0;

}
.p_color_box {
    padding: 6px 9px;
    margin: 5px 0;
    background-color: #dbdbdb;
    font-weight: 600;
    border-radius: 4px;
    font-family: "JetBrains Mono", monospace;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.btn_delete {
    border: none;
    outline: none;
    background-color: red;
    color: #fff;
    padding: 4px 8px;
    font-size: .9rem;
    border-radius: 4px;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}

#copy_rgba,
#copy_hex,
#copy_hsl {
    font-size: .5rem;
    margin:0;
}

.close_folder {
    position: absolute;
    right: 3px;
    top: -5px;
    cursor: pointer;

    svg path {
        fill: black;
    }

    &:hover {
        svg path {
            fill: rgb(255, 0, 0);
        }
    }
}