.btn_close{
    padding: 5px 10px;
    color: #fff;
    background-color: red;
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
}
.btn_success{
    padding: 5px 10px;
    color: #fff;
    background-color: rgb(55, 0, 255);
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
}